.portfolio__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.portfolio__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
    align-items: center;
  background: var(--color-bg-variant);
  padding: 1rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}

.portfolio__item:hover {
  border-color: var(--color-primary-variant);
  background: #2187b0;
}

.portfolio__container-image{
  border-radius: 1.5rem;
  overflow: hidden;
  width: 358px;
    height: 190px;
}

.portfolio__item h3 {
  margin: 1.2rem 0 2rem;
}

.portfolio__item-cta {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

/*media*/
@media (max-width: 1024px) {
  .portfolio__container {
    grid-template-columns: repeat(1, 1fr);
    gap: 1.2rem;
  }
  .portfolio__container-image{
    width: 455px;
    height: 242px;
  }
  .portfolio__item {
    padding-left:0.4rem;
    padding-right: 0.4rem;
  }
}

@media (max-width: 600px) {
  .portfolio__container {
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
  .portfolio__item {
    width:auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left:1.2rem;
    padding-right: 1.2rem;
  }
  .portfolio__container-image{
    width:auto;
    max-width: 300px;
    height: 160px;
  }
}
