
/* .about__me {
  display: grid;
  place-items: center;
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 2rem;
  background: linear-gradient(
    45deg,
    transparent,
    var(--color-primary),
    transparent
  );
} */

/* .about__me-image {
  border-radius: 2rem;
  overflow: hidden;
  transform: rotate(10deg);
  transition: var(--transition);
} */

#about h5{
  font-size: 28px;
}

#about h2{
  font-size: 40px;
}

.about__card {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 2rem;
  border-radius: 1rem;
  border: 1px solid transparent;
  background: var(--color-bg-variant);
}
.about__card:hover {
  background-color: #2187b0;
  border-color: var(--color-primary-variant);
  cursor: default;
}

.about__cards {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.about__card h5 {
  font-size: 40px;
}

.about__card small {
  font-size: 24px;
  color: var(--color-light);
}

.about__icon {
  color: var(--color-primary);
  width: 40px;
  height: 40px;
  margin-bottom: 1rem;
}

.about__content p {
  margin: 2rem 0 2.6rem;
  color: rgb(255 255 255 / 85%);
  font-size: 24px;
  text-align: justify;
  text-indent: 47px;
}

/*media*/
@media (max-width: 1024px) {
  #about h5{
    font-size: 24px;
  }
  
  #about h2{
    font-size: 32px;
  }
  .about__container {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .about__cards {
    width: 500px;
  }
  .about__card h5 {
    font-size: 32px;
  }

  .about__card small {
    font-size: 20px;
  }
  /* .about__me {
    width: 50%;
    margin: 2rem auto 4rem;
  } */
  .about__icon {
    width: 36px;
    height: 36px;
  }
  .about__content p {
    margin: 1rem 0 1.5rem;
    font-size: 20px;
    text-indent: 32px;
  }
}

@media (max-width: 600px) {
  /* .about__me {
    width: 65%;
    margin: 0 auto 3rem;
  } */
  #about h5{
    font-size: 20px;
  }
  
  #about h2{
    font-size: 24px;
  }

  .about__cards {
    width: 90%;
  }

  .about__card h5 {
    font-size: 28px;
  }

  .about__content {
    text-align: center;
  }

  .about__card small {
    font-size: 16px;
  }

  .about__content p {
    margin: 1.5rem 0;
    font-size: 16px;
    text-indent: 24px;
  }

  .about__icon {
    width: 28px;
    height: 28px;
  }
}
