nav {
  position: fixed;
  left: 50%;
  display: flex;
  gap: 0.8rem;
  width: max-content;
  padding: 0.7rem 1.7rem;
  bottom: 2rem;

  border-radius: 3rem;
  backdrop-filter: blur(15px);
  background: rgba(0, 0, 0, 0.3);

  transform: translateX(-50%);
  z-index: 2;
}

nav a {
  display: flex;
  background: transparent;
  padding: 0.9rem;
  border-radius: 50%;
  color: var(--color-light);
  font-size: 1.9rem;
}

nav a:hover {
  background: ragba(0, 0, 0, 0.3);
}

nav a.active {
  background: var(--color-primary);
  color: var(--color-bg);
}

@media (max-width: 1024px) {
  nav a {
    font-size: 1.6rem;
  }
}

@media (max-width: 600px) {
  nav a {
    font-size: 0.9rem;
  }
}